.welcome-page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    text-align: center;
    padding: 50px 10px;
}

.welcome-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.welcome-container {
    background-color: var(--bg-tertiary);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    margin: 25px;
    padding: 25px 50px;
    width: fit-content;
}

.welcome-input {
    margin: 5px 0;
    width: 100%;
}

.welcome-button {
    margin: 10px 0 0 0;
    width: 100%;
}

.error-box {
    background-color: var(--secondary-red);
    border-left: 3px solid var(--primary-red);
    border-radius: var(--border-radius);
    color: var(--primary-red);
    font-size: 13px;
    margin-bottom: 5px;
    padding: 10px;
    width: 100%;
}