.chat-container {
    padding: 25px;
}

.messages-container {
    padding: 20px 0px;
}

.message-container {
    margin: 10px 0;
}

.message-container-sent {
    text-align: right;
}

.message-timestamp {
    color: var(--text-gray);
    font-size: 14px;
    margin-bottom: 3px;
}

.message {
    font-size: 16px;
    font-weight: 300;
    padding: 6px 10px;
    width: fit-content;
    max-width: 500px;
}

.message-received {
    background-color: var(--bg-secondary);
    border-radius: 8px 8px 8px 0;
}

.message-sent {
    background-color: var(--primary-blue);
    border-radius: 8px 8px 0 8px;
    margin-left: auto;
}

.no-messages {
    color: var(--text-gray);
    padding: 25px 0;
    text-align: center;
}