.login-page {
    text-align: center;
    margin: auto;
    padding: 50px;
}

.login-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}