.active-chats-container {
    padding: 50px 20px 0 20px;
    max-width: 600px;
    margin: auto;
    text-align: center;
}

.active-chats-account-info {
    align-items: center;
    background-color: var(--bg-secondary);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    text-align: left;
}

.active-chats-account-info-big {
    font-size: 35px;
}

.logout-button {
    background-color: var(--primary-red);
}

.input-error {
    color: var(--primary-red);
    font-size: 12px;
    margin: 5px 0 0 5px;
    text-align: left;
}