@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500;700&display=swap');

:root {
    --bg-primary: #212540;
    --bg-secondary: #1a1d2e;
    --text: #fff;
}

body {
    background-color: var(--bg-primary);
    color: var(--text);
    font-family: 'Merriweather Sans', sans-serif;
    height: 100%;
}